@model Exception
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Erro</title>
</head>
<body>
	<h2>Erro no processamento da requisição</h2>
	<div>
		<p>@Model.Message</p>
	</div>
</body>
</html>