@{
	ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title</h2>

<address>
	<strong>Tomás Rangel</strong>
	<br />
	<strong>Email:</strong>   <a href="mailto:tomas.rangel75@gmail.com">tomas.rangel75@gmail.com</a><br />
</address>